@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    position: relative;
}

/* Cabeçalho da página */
header {
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    margin: 0 auto;
}

h2 {
    font-size: 18px;
}

h2 p {
    font-size: 12px;
    color: #808080;
    font-weight: normal;
}

.link-head-footer {
    display: flex;
    align-items: center;
    gap: 72px;
    list-style-type: none;
}

.link-head-footer li {
    transition: .2s;
    cursor: pointer;
}

.link-head-footer li:hover {
    color: #8d46ff;
}

header button {
    color: #8d46ff;
    outline: none;
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
}

.icon-arrow-right {
    width: 20px;
}

header button:hover .icon-arrow-right {
    animation: move-arrow 1s infinite;
}

@keyframes move-arrow {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Fundo com gradiente */
.image-background-home {
    position: absolute;
    width: 100%;
    height: 700px;
    background-image: url(../images/background-gradient1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -999;
}

.image-background-home::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(20px);
    top: 0;
    left: 0;
}

/* Bloco principal */
main {
    width: 1300px;
    margin-top: 24px;
    margin: 0 auto;
}

/* Bloco de apresentação */
.block-welcome {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.about-me-short {}

.text-hello {
    font-size: 24px;
}

.about-me-short mark {
    color: #8d46ff;
    background: none;
}

.text-my-name {
    width: 550px;
    font-size: 48px;
}

.slogan-short {
    font-size: 16px;
    color: #808080;
    width: 600px;
    margin-top: 8px;
}

.btn-solicite {
    margin-top: 16px;
    border: none;
    color: white;
    background: #8d46ff;
    font-size: 16px;
    outline: none;
    height: 50px;
    padding: 0 15px;
    border-radius: 12px;
    cursor: pointer;
}

.image-welcome {
    width: 500px;
    height: 500px;
    background-image: url(../images/Development-pana.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* Bloco que fala sobre mim como profissional */
.block-about {
    margin-top: 120px;
}

h3 {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.block-more-details {
    margin-top: 32px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 48px;
    width: 100%;
}

.block-more-details .block-left {
    width: 600px;
    font-size: 16px;
    color: #616161;
}

.text-interesse {
    color: black;
    margin-top: 16px;
}

.block-left ul {
    font-size: 14px;
    margin-left: 16px;
}

.block-more-details .block-right {
    width: 400px;
    height: 500px;
    background-image: url(../images/s-o-c-i-a-l-c-u-t-1RT4txDDAbM-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.block-techn {
    width: 100%;
    background: rgba(128, 128, 128, .1);
    margin-top: 74px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.techn {
    position: relative;
}

.logo {
    width: 80px;
}

.ctx-techn {
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: -100px;
    z-index: 999;
}

.ctx-techn-title {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
}

.level {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #cbcbcb;
    position: relative;
    margin-top: 4px;
}

.level::before {
    content: '';
    position: absolute;
    height: 100%;
    border-radius: 2px;
    left: 0;
    z-index: 1;
}

.level1::before {
    width: 50%;
    background: #f13636;
}

.level2::before {
    width: 80%;
    background: #237fff;
}

.level3::before {
    width: 95%;
    background: #ff7f23;
}

.level4::before {
    width: 55%;
    background: #ffe25f;
}

.level6::before {
    width: 47%;
    background: #1d62f8;
}

.level8::before {
    width: 60%;
    background: linear-gradient(90deg, #F8981D, #f13636, #d744ff, #5686ff, #5bd85d);
}

.level9::before {
    width: 49%;
    background: #316BFF;
}

.ctx-techn span {
    color: #616161;
    font-size: 14px;
    margin-top: 4px;
    display: inline-block;
}

.block-project {
    margin-top: 120px;
}

.alls-projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 74px;
}

.items-projects {
    width: 400px;
    padding: 10px;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 8px;
}

.items-projects:nth-child(2) {
    scale: 1.15;
}

.items-projects img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.name-project {
    margin-top: 4px;
    font-size: 18px;
}

.description {
    font-size: 14px;
    color: #616161;
}

.count-projects {
    padding: 30px 0;
    background: white;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.item-count-project {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.number-project {
    font-size: 32px;
    font-weight: bold;
}

.name-count-project {
    font-size: 14px;
    text-transform: uppercase;
    color: #616161;
}

.line {
    width: 2px;
    height: 100px;
    border-left: 1px solid #cbcbcb;
}

.block-services {
    margin-top: 120px;
}

.alls-service {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    margin-top: 74px;
}

.item-service {
    width: 350px;
}

.icone-service {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.icone-service1 {
    background: #8d46ff;
}

.icone-service2 {
    background: green;
}

.icone-service3 {
    background: rgb(255, 43, 43);
}

.icon-tools {
    width: 24px;
    color: white;
}

.title-service {
    margin-top: 8px;
    font-size: 18px;
}

.description-service {
    font-size: 14px;
    color: #616161;
    margin-top: 4px;
}


.container-blog {
    margin-top: 120px;
}

.container-blog h2 {
    text-align: center;
    font-weight: normal;
}

.text-blog {
    width: 600px;
    margin: 16px auto 48px;
    text-align: center;
    font-size: 15px;
    color: #808080;
}

.blog-grid {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.post-item {
    width: 410px;
    padding: 10px;
    border-radius: 10px;
    background:rgba(128, 128, 128, .1);
    transition: .2s;
    position: relative;
    cursor: pointer;
}

.post-item:hover {
    background: #212121;
}

.post-item:hover .title-post {
    color: white;
}

.post-item:hover .description-post {
    color: #cbcbcb;
}

.post-item .date {
    padding: 5px 10px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    background: #e9ff25;
    position: absolute;
    z-index: 999;
    top: 20px;
    left: 20px;
}

.post-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 20px;
}

.title-post {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-top: 4px;
    transition: .2s;
}

.description-post {
    font-size: 14px;
    color: #808080;
    margin-top: 8px;
    transition: .2s;
}

footer {
    margin: 120px auto 0;
    height: 300px;
    background:rgba(128, 128, 128, .1);
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    justify-content: center;
}

.media-social {
    display: flex;
    align-items: center;
    gap: 74px;
}

.icon-media {
    width: 26px;
    opacity: .7;
}

.text-footer {
    font-size: 14px;
    color: #616161;
}